body {
  font-family: Arial;
  background: #222;
  color: white;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 5px;
  justify-content: center;
  margin: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  background: #444;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
