body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
  height: 100vh;
  display:block;
  
}

header {
  padding: 40px 20px;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: transform 0.3s, background 0.3s;
}

.card:hover {
  transform: scale(1.08);
  background: rgba(255, 255, 255, 0.35);
}

footer {
  padding: 20px;
  font-size: 0.9rem;
}
